body {
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
    --button-load-time: 500ms;
}


.move-left {
    animation: moveleft ease-in-out var(--button-load-time);
    animation-fill-mode: forwards;
}

.return-left {
    animation: returnleft ease-in-out var(--button-load-time);
    animation-fill-mode: forwards;
}

.move-right {
    animation: moveright ease-in-out var(--button-load-time);
    animation-fill-mode: forwards;
}

.return-right {
    transform: translateX(200vw);
    animation: returnright ease-in-out var(--button-load-time);
    animation-fill-mode: forwards;

}

.dance-infinite {
    animation: dance-up-down infinite 1s;
}

.dance-once {
    animation: dance-up-down linear 1s;
}

@keyframes returnright {
    0% {
        visibility: hidden;
        position: absolute;
    }
    50% {
        transform: translateX(-5vw);
    }

    100% {
        transform: translateX(0%);
        position: center;
        visibility: visible;
    }
}


@keyframes moveright {
    0% {
        transform: translateX(0%);
        visibility: visible;
        position: center;
    }
    50% {
        transform: translateX(-5vw);
    }

    100% {
        transform: translateX(200vw);
        position: absolute;
        visibility: hidden;
    }
}

@keyframes moveleft {
    0% {
        transform: translateX(0%);
        visibility: visible;
        position: center;
    }
    50% {
        transform: translateX(5vw);
    }

    100% {
        transform: translateX(-200vw);
        position: absolute;
        visibility: hidden;
    }
}

@keyframes returnleft {
    0% {
        transform: translateX(-200vw);
        visibility: hidden;
        position: absolute;
    }
    50% {
        transform: translateX(5vw);
    }

    100% {
        transform: translateX(0%);
        position: center;
        visibility: visible;
    }
}


@keyframes dance-up-down {
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slow-up-down {
    25% {
        transform: translateY(-10%);
    }
    75% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }

}

@keyframes top-menu-move-up {
    0% {
        transform: translateY(10vh);
    }
    70% {
        transform: translateY(-3vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes top-menu-move-down {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-3vh);
    }

    100% {
        transform: translateY(10vh);
    }
}

@keyframes load-from-left {
    0% {
        transform: translateX(-500vw);
    }
    80% {
        transform: translateX(5vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes load-from-right {
    0% {
        transform: translateX(500vw);
    }
    80% {
        transform: translateX(-5vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes remove-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-150%);
    }
}

@keyframes move-back-down {
    0% {
        transform: translateY(-150%);
    }
    100% {
        transform: translateY(0);
    }
}

.remove-up {
    animation: remove-up linear 300ms;
    animation-fill-mode: forwards;
}

.return-down {
    animation: move-back-down linear 300ms;
    animation-fill-mode: forwards;
}

@keyframes return-down-with-jump {
    0% {
        transform: translateY(-100vh);
    }
    50% {
        transform: translateY(5vh);
    }
    70% {
        transform: translateY(-5vh);
    }

    100% {
        transform: translateY(0);
    }
}

.come-into-from-top {
    animation: return-down-with-jump linear 1s;
}