:root {
    --main-bg-colour: white;
    --main-txt-colour: #282828;
    --hue: 120;
    --saturation: 50%;
    --lightness-offset: 0%;
    --lightness: 40%;
    --numberOfColumns: 7;
    --numberOfRows: 7;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1em;

    font-size: clamp(0.5rem, 2.5vmin, 2.5rem);
    background: var(--main-bg-colour);
    color: var(--main-txt-colour);
    overflow: hidden;
}

.naslov {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
}

.labirint {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(var(--numberOfColumns), 3em);
    grid-template-rows: repeat(var(--numberOfRows), 3em);
}

.polje {
    color: var(--main-bg-colour);
    background: hsl(
            var(--hue, 120),
            var(--saturation, 1%),
            calc(var(--lightness-offset, 0%) + var(--lightness, 10%))
    );
    border: .1em solid #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 250ms linear;
}

.polje:hover {
    --lightness-offset: 20%;
}

.polje[data-state="path"] {
    --hue: 200;
}